@media screen and (max-width: 916px) {
    .wrapper {
        width: 100%;
        margin: 0;
        padding: 10vw;
    }

    .about_head_photo {
        width: 80vw;
    }

    .about_me_article {
        width: 80vw;
    }
}

@media screen and (min-width: 917px) {
    .about_head_photo {
        width: 60vw;
    }
    .about_me_article {
        width: 60vw;
    }
}

@media screen and (max-width: 533px) {
    .about_head_photo {
        margin-top: 2.4rem;
    }
}

.transition_out_effect {
    opacity: 1;
    transition: 0.3s ease;
  }

.fade_out {
    opacity: 0;
}

.transition_in_effect {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fade_in {
    opacity: 1;
}